div.addLink
  form
    .row
      .col-xs-12.col-md-5
        fieldset.form-group
          label.sr-only(for='formGroupExampleInput') Title
          input#formGroupExampleInput.form-control(type='text', placeholder='Title')
      .col-xs-12.col-md-5
        fieldset.form-group
          label.sr-only(for='formGroupExampleInput2') URL
          input#formGroupExampleInput2.form-control(type='text', placeholder='URL')
      .col-xs-12.col-md-2
        fieldset.form-group
          submit.btn.btn-primary.form-control() Submit Link
