extends /layouts/_default

block content
  .row 
    .col-xs-12
      p
        a.btn.btn-secondary(data-toggle='collapse', href='#AddLink', aria-expanded='false', aria-controls='collapseExample')
          | Add Link 
          
      div#AddLink.collapse
        include partials/addlink.jade

                      
  .row
    .col-xs-12
      ul.list.list-unstyled
        each post in [0,1,2,3,4,5,6]
          li.list-item
              h5 
                a(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          li.list-item
              h5 
                a(href="") Consectetur adipisicing elit, sed do eiusmod tempor.
          li.list-item
              h5 
                a(href="") Culpa qui officia deserunt mollit.
