doctype html
html(lang="en")
  head
    title muxfeed
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')

    // build:css /styles/main.css
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)
    .container
      .row
        .col-xs-12          
          header.m-y-lg
            h6 MACHINAS UX FEED

      .row
        .col-xs-12        
          block content

      // Footer
      .row
        .col-xs-12
          footer

    // build:js /scripts/main.js
    
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/scripts/main.js')
    // endbuild
